doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style/style.css")
        script(src="./script/script.js" defer)

        title Nonogram Maker
    body
        canvas#canvas

        #control.off
            h1 Nonogram Maker
            p Learn more about nonogram at: #[a(href="https://en.wikipedia.org/wiki/Nonogram") https://en.wikipedia.org/wiki/Nonogram]
            hr
            h2: u Help
            details
                summary: u How to draw a shape?
                ul
                    li Hold your mouse left button while dragging over the squares in the shape to toggle the color of the square (white -> black, black -> white).
            details
                summary: u How to move the grid?
                ul
                    li Hold your mouse right button and drag around.
            details
                summary: u How to zoom?
                ul
                    li To zoom, use your scroll wheel.
            hr
            h2: u Options
            h3 Puzzle size
            .inline
                label(for="width")
                    span Width: 
                    input.puzzleConfig(placeholder="8", type="number", name="width", min="1" max="256")
                label(for="height")
                    span Height: 
                    input.puzzleConfig(placeholder="8", type="number", name="height", min="1" max="256")
            h3 Puzzle display
            .inline
                label(for="fontSize")
                    span Font size: 
                    input.puzzleConfig(placeholder="32", type="number", name="fontSize", min="1")
                label(for="textPadding")
                    span Text padding: 
                    input.puzzleConfig(placeholder="16", type="number", name="textPadding", min="1")
                label(for="lineThickness")
                    span Line thickness: 
                    input.puzzleConfig(placeholder="2", type="number", name="lineThickness", min="1")
                label(for="squareSize")
                    span Cell size: 
                    input.puzzleConfig(placeholder="64", type="number", name="squareSize", min="1")
                label(for="font")
                    span Font (on your system): 
                    input.puzzleConfig(placeholder="Noto Sans Mono", type="text", name="font")
            h3 Puzzle color
            .inline
                label(for="backgroundColor")
                    span Background: 
                    input.puzzleConfig(placeholder="#000000", type="color", name="backgroundColor")
                label(for="lineColor")
                    span Line: 
                    input.puzzleConfig(placeholder="#888888", type="color", name="lineColor")
                label(for="filledColor")
                    span Filled cell: 
                    input.puzzleConfig(placeholder="#000000", type="color", name="filledColor")
                label(for="emptyColor")
                    span Empty cell: 
                    input.puzzleConfig(placeholder="#ffffff", type="color", name="emptyColor")
            h3 Export puzzle as:
            .inline
                button#export base64
                button#export_png_unsolved PNG image (unsolved)
                button#export_png PNG image (solved)
            .inline
                textarea#exportData(disabled, placeholder="[Export] This is where your exported base64 puzzle data will show...")
            h3 Import puzzle from:
            .inline
                button#import base64
            .inline
                textarea#importData(placeholder="[Import] Paste exported puzzle data here...")
            h3 Actions:
            .inline
                button#reset_pos Reset position
                button#clear_all Clear puzzle
                button#share Share playable puzzle link
            hr
            h2: u About
            ul
                li 2024 sudoker0. Licensed under the MIT license.
                li Source code available at: #[a(target="_blank" href="https://github.com/sudoker0/project.nonogram-maker") https://github.com/sudoker0/project.nonogram-maker]

        button#control_button
            <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 7L4 7" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M20 12L4 12" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
                <path d="M20 17L4 17" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"/>
            </svg>